<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<table border="1">
    <tr>
        <th>Id</th>
        <th>Username</th>
        <th>Password</th>
        <th>Role</th>
    </tr>
    <th:block th:each="msg : ${messages}">
        <tr>
            <td th:text="${msg.getId()}"></td>
            <td th:text="${msg.getUsername()}"></td>
            <td th:text="${msg.getPassword()}"></td>
                <td th:each="msg1 : ${msg.getRoles()}">
                    <th:block th:text="${msg1.getName()} ">
                    </th:block>
                </td>
        </tr>
    </th:block>
</table>
</body>
</html>