<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<table border="1">
    <tr>
        <th>Id</th>
        <th>Username</th>
        <th>Password</th>
        <th>Role</th>
    </tr>
    <th:block th:each="msg : ${messages}">
        <tr>
            <td th:text="${msg.getId()}"></td>
            <td th:text="${msg.getUsername()}"></td>
            <td th:text="${msg.getPassword()}"></td>
            <td>
                <th:block th:each="msg1,mg1Stat :${msg.getRoles()}">
                    <th:div th:text="${#strings.substring(msg1.getName(),5,#strings.length(msg1.getName()))} + (${mg1Stat.last}?'':' ') ">
                    </th:div>
                </th:block>
            </td>
        </tr>
    </th:block>
</table>
</body>
</html>